

.maintContentWrapper {
  width: 66% !important;
  position: relative !important;
}

.overflowWrapper {
  overflow: scroll !important;
  padding-top: 20px;
}

.mapContentWrapper {
    height: 100%;
    display: block !important;
    left: auto !important;
    width: 34% !important;
    position: fixed !important;
    top: 100px !important;
    bottom: 0px !important;
    right: 0px !important;
}

.labels {
    color: white;
    background-color: red;
    font-family:"Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    width: 30px;
    white-space: nowrap;
}


.my-custom-class-for-label {
  width: 75px;
  height: 20px;

  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}
