

.maintContentWrapper {
  width: 66% !important;
  position: relative !important;
}

.overflowWrapper {
  overflow: scroll !important;
  padding-top: 120px;
}

.mapContentWrapper {
    height: 100%;
    display: block !important;
    left: auto !important;
    width: 34% !important;
    position: fixed !important;
    top: 100px !important;
    bottom: 0px !important;
    right: 0px !important;
}