<div class="footer">
  <p class="text-footer">Les meilleurs pâtissiers à votre service</p>
  <p id="copyright">&copy; Mes pâtissiers 2017</p>
  <ul class="list-inline pull-right">
    <li>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-snapchat" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </li>
  </ul>
</div>
