<!-- Ceci est un test -->

<div class="maintContentWrapper">

 <div class="row">

      <% @pastries.each do |pastry|%>

      <div class="col-xs-12 col-sm-6" >

        <%= render 'card', p: pastry %>

      </div>

      <% end %>

      </div>
</div>



<div class="mapContentWrapper">
  <p>Here goes the Google map</p>
</div>



<!-- ceci est un test
 -->
