<!-- Ceci est un test -->

<div class="container">

<% @pastries.each do |pastry|%>

    <div class="col-xs-12 col-sm-4" >

    <%= render 'card', p: pastry %>

   </div>

 <% end %>

 </div>

<!-- ceci est un test
 -->
