<%= form_tag(pastries_search_path, :method => "get", id: "search-form", class: "form-inline")do %>
  <div class="flexbox">
    <%= text_field_tag :search, params[:search], placeholder: "Entrez une adresse", class: "navbar-wagon-search-input" , id: "pastry_address" %>
    <%= submit_tag "Decouvrir", class: "btn btn-primary btn-lg"%>
  </div>
<% end %>
