// Your footer style
.footer {
  height: 150px;
  background-color: #e20079;
  opacity:0.7;
  border:1px dashed #F3E1E1;
  color: white;
  padding:20px;
}

.footer i {
  font-size: 30px;
}

.footer p {
  font-size: 15px;

}

#copyright {
  font-family: 'Pacifico', cursive;
}

.wrapper-footer {
  min-height:calc(82vh - 100px);
}

.wrapper-footer-flex {
  min-height:calc(73vh - 100px);
}
