.banner {
  color: white;
  text-align: center;
  height: 75vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Courgette', cursive;
}

.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
}

.banner a {
  font-family: 'Pacifico', cursive;
}

