.btn-rounded {
  border-radius: 10%;
  transition: all 0.3s ease;
}

.btn-rounded:hover {
  background-color: white;
  color:#e20079;
  border-color: #e20079;

}

.btn-facebook {
  background-color:#4267B2;
  color:white;
}

.slick-dots li.slick-active button:before {
  color:#E20079;
}
